<div class="welcome-image-container">
  <%= render "shared/flash_messages" %>
  <%= image_tag("motivate.jpeg", alt: "motivational quote", class: "img-fluid", id: "motivate", size: "700x700") %>
  <%= link_to('Sign up', signup_path, class: "btn btn-lg btn-secondary btn-block") %>
  <%= link_to('Sign in', login_path, class: "btn btn-lg btn-secondary btn-block") %>
</div>
