<h1>Applications</h1>

<ul>
<% @applications.each do |application| %>
  <li><%= application.company_name %>
  <%= application.date %></li>
<% end %>
</ul>
<%= link_to("Sign Out", logout_path, method: :delete) %>
