<footer class="text-muted">
  <div class="container">
    <p class="float-left">
      <%= link_to "My account", edit_user_path(@user) %>
    </p>
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>
