// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

html,
  body#welcome-page {
    height: 100%;
  }

  body#welcome-page {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  img#motivate{
    width: 100%;
    margin-bottom: 10px;
  }

  a.btn {
    width: 25%;
    margin: 0 auto;
    color: white;
    padding: 10px;
  }

  .welcome-image-container {
    width: 100%;
    max-width: 675px;
    margin: 0 auto;
  }
