// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

  img#motivate{
    width: 100%;
    margin-bottom: 10px;
  }

  a.btn {
    width: 25%;
    margin: 0 auto;
    color: white;
    padding: 10px;
  }

  .welcome-image-container {
    width: 100%;
    max-width: 675px;
    margin: 0 auto;
  }
